@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap');

:root{
    --fonteTexto: "Caveat", cursive;
    --fonteTitulo: "Playwrite DE Grund", cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

html, body{
    min-height: 100vh;
    background-color: darkgray;
}

header{
    background-color: #000;
    color: #fff;
    text-align: center;
}

header > h1{
    padding-top: 50px;
    font-variant: small-caps;
    font-size: 6vw;
    font-family: var(--fonteTitulo);
}

header > p{
    padding-bottom: 50px;
}

a{
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
}

a:hover{
    text-decoration: underline;
}

section{
    padding-top: 10vh;
    padding-bottom: 10vh;
    padding-left: 30px;
    line-height: 2em;
    font-family: var(--fonteTexto);
}

section p{
    display: inline-block;
    min-width: 400px;
    margin-bottom: 35px;
    font-size: 3.5vw;
}

section.normal{
    background-color: #fff;
    color: #000;
}

section.imagem{
    background-color: #585858;
    color: #fff;
    background-size: cover;
    background-attachment: fixed;
}

section.imagem > p{
    background-color: #00000034;
}

section#img01{
    background-image: url(../imagens/background001.jpg);
    background-position: right center;
}

section#img02{
    background-image: url(../imagens/background002.jpg);
}

footer{
    padding: 20px;
    background-color: #000;
    color: #fff;
    text-align: center;
}
