@charset "UTF-8";

/*Estilo geral*/

*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100vw;
    height: 98vh;
    background-color: #233eff;
    background-size: contain;
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
}

h1{
    margin: 10px;
    padding: 8px;
}