@charset "UTF-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    height: 100%;
    background-image: linear-gradient(to top, #D98236, #865122);
}

main{
    background-color: white;
    width: 700px;
    border-radius: 10px;
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    padding-left: 15px;
    padding-right: 15px;
    box-shadow: 5px 5px 5px #75461d93;
    margin: auto;
}

h1{
    text-align: center;
    color: #260704;
}
h2{
    color: #590E07;
    text-align: center;
}

p{
    text-align: justify;
}